{% extends "base.html" %}

{% block app_content %}
  {% if image_string %}
    <style type="text/css">
        div.mine {
            background-color: grey;
            max-width: 300px;
        }
    </style>
    <h1>Your analysis</h1>
    <div class="row mine">
      <div class="col-lg-1 center-block" style="background-color: grey; padding: 10px">
    <img src='data:image/png;base64,{{ image_string }}' style="
    max-width: 280px;
    max-height: 300px;
">
      </div>
      </div>

  {% endif %}
    {% if rgbs %}
    <div class="row mine" style="padding-bottom: 10px">
            {% for rgb in rgbs %}
                <div class="col-xs-{{loop.index}}" style="background-color: {{ rgb }}; height: 30px; width: 75px; margin-left: 10px; margin-right: 10px;"><p style="color: {{ rgb }}; -webkit-filter: invert(100%); filter: invert(100%);">{{ rgb }}</p></div>
  {% endfor %}
    </div>
    {% endif %}

<div class="row" style="max-width: 450px;">
    <h1>File Upload</h1>
    {{ wtf.quick_form(form) }}
    </div>
{% endblock %}